.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.Welcome {
  height: 300px;
  background-color: #122a43;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InnerWelcomeContainer {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

.ProfilePictureContainer {
  flex: 1;
}

.ProfileImage {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.WelcomeTextContainer {
  flex: 1;
  font-size: 80px;
  color: white;
  font-weight: 600;
}

.EmptyForSpacing {
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
}

.SidebarContainer {
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
  top: 110px;
  left: 87%;
  position: fixed;
  flex-direction: column;
}

.DropDown {
  background-color: #2297bf;
  display: flex;
  width: 80px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.X {
  margin-top: 20px;
  margin-bottom: 15px;
}

.DropDownItem {
  margin-bottom: 15px;
}

.DropDownListHolder {
  margin-bottom: 20px;
}

.MenuContainer {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #2297bf;
}

.AboutMe {
  /*height: 600px;*/
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #2dc093;
}

.AboutMeTitle {
  font-size: 40px;
  color: #122a43;
  margin-top: 20px;
}

.ParagraphContainer {
  margin-top: 80px;
  width: 40%;
  font-size: 20px;
  color: #122a43;
  font-weight: 450;
  height: 100%;
  margin-bottom: 100px;
}

.WorkAndResearch {
  /*height: 700px;*/
  background-color: white;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #122a43;
}

.WorkAndResearchContainer {
  background-color: #2dc093;
}

.WorkAndResearchTitle {
  font-size: 40px;
  color: #122a43;
  margin-top: 20px;
  /*border: 2px solid red;*/
}

.WorkAndResearchExperiences {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.WorkAndResearchLogosContainer {
  margin-top: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 85%;
}

.MARVLInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.SnowflakeInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.OrganizationName {
  font-weight: 700;
  margin-bottom: 5px;
}

.Timeline {
  margin-bottom: 5px;
  font-weight: 600;
}

.PositionTitle {
  margin-bottom: 5px;
  font-weight: 600;
}

.PositionDescription {
  width: 80%;
}

.SnowflakeInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.WorkAndResearchFirstRowLogo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 170px;
}

.WorkAndResearchExperienceLogoStanford {
  height: 120px;
}

.WorkAndResearchExperienceLogoSnowflake {
  height: 120px;
}

a {
  text-decoration: none;
  color: #2678b7;
}

a:visited {
  color: #2678b7;
  text-decoration: none;
}

.Education {
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  background-color: #122a43;
  border: 1px solid #122a43;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.EducationContainer {
  background-color: white;
}

.EducationTitle {
  font-size: 40px;
  color: white;
  margin-top: 20px;
}

.RowContainer {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Row1 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 170px;
  width: 90%;
}

.ProjectsContainer {
  background-color: #122a43;
}

.AwardsContainer {
  background-color: #2dc093;
}

.Awards {
  background-color: white;
  height: 700px;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.Logo {
  height: 180px;
}

.LogoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InstitutionContainer {
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.InstitutionTitle {
  margin-top: 5px;
  color: white;
  font-weight: 900;
}

.InstitutionTimeline {
  margin-top: 5px;
  color: white;
  width: 80%;
}

.InstitutionQuickStats {
  margin-top: 5px;
  color: white;
  width: 80%;
}

.EducationDescription {
  margin-top: 5px;
  color: white;
  width: 80%;
}

.Projects {
  height: 700px;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  background-color: #2dc093;
}

.FooterContainer {
  height: 100px;
  background-color: #122a43;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.FooterContainer {
  display: flex;
  flex-direction: column;
}

.GithubForWebsite {
  font-weight: normal;
  margin-bottom: 8px;
}

@media only screen and (max-width: 500px) {
  .SidebarContainer {
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    top: 60px;
    left: 77%;
    position: fixed;
  }

  .InnerWelcomeContainer {
    align-items: center;
    justify-content: center;
    height: 95%;
    display: flex;
    flex-direction: column;
  }

  .ProfilePictureContainer {
    flex: 1;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .Welcome {
    height: 420px;
    background-color: #122a43;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1100px) {
  .Row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
  }

  .Education {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    background-color: #122a43;
    border: 1px solid #122a43;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .InstitutionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .EducationDescription {
    margin-top: 5px;
    margin-bottom: 50px;
    color: white;
    width: 80%;
  }
}

@media only screen and (max-width: 725px) {
  .WorkAndResearchExperienceLogoStanford {
    height: 80px;
  }

  .WorkAndResearchExperienceLogoSnowflake {
    height: 80px;
  }
}

@media only screen and (max-width: 1150px) {
  .WorkAndResearchLogosContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 85%;
  }

  .WorkAndResearchFirstRowLogo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .ParagraphContainer {
    margin-top: 30px;
    width: 60%;
    font-size: 20px;
    color: #122a43;
    font-weight: 450;
  }
}

@media only screen and (max-width: 700px) {
  .ParagraphContainer {
    margin-top: 30px;
    width: 90%;
    font-size: 20px;
    color: #122a43;
    font-weight: 450;
  }
}
